:root {
    --size: 80%;
    --fliptime: 5s;
}

html,
body {
    width: 100%;
    height: 100%;
}

.center-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url(../img/no_whale_background.jpg);
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    animation-name: fadeout;
    animation-duration: calc(var(--fliptime) + 2s);
    opacity: 0;
    animation-iteration-count: 1;
    position: absolute;;
    z-index: 1;
}

.bg {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url(../img/whaleslogo.jpg);
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: absolute;
    z-index: 0;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

ul.social-center {
    background-color: rgba(90, 90, 90, 0.5); //semi-transparent red
}

ul.social-center li{
    display: inline;
}

ul.social-center img{
    max-width: 50px;
}

.whale {
  /*margin-left: 20%;*/
  /*margin-top: 10%;*/
  animation-duration: var(--fliptime);
  animation-name: doacoolflip;
  position: relative;
  visibility: hidden;
}

@keyframes doacoolflip {
  0% {
    margin-right: -100%;
    margin-top: -100%;
    transform: rotate(-80deg);
    visibility: visible;
  }

  50% {
    margin-right: 0%;
    margin-left: 20%;
    transform: rotate(0deg);
  }

  60% {
    margin-left: 20%;
    transform: rotate(15deg);
  }

  80% {
    margin-left: 20%;
    transform: rotate(-15deg);
  }

  100% {
    margin-right: 200%;
    margin-left: -100%;
    margin-bottom: 100%;
    transform: rotate(60deg);
  }

}

.torso {
    z-index: 1;
    width: var(--size);
}

.fin {
    /*position: absolute;*/
    animation-name: flap;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}
.left.fin {
    width: calc(var(--size)*.242);
    top: calc(var(--size));
    left: calc(var(--size)*.4);
    z-index: 2;
}
.right.fin {
    width: calc(var(--size)*.128);
    top: calc(var(--size)*1.05);
    left: calc(var(--size)*.095);
    z-index: 0;
    animation-delay: 1s;
}

@keyframes flap {
    from  {
        transform: rotate(0deg);
    } to {
        transform: rotate(15deg);
    }
}
