html,
body {
    width: 100%;
    height: 100%;
}

.whale {
  height: 80%;
  width: 80%;
  margin-left: 20%;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    margin-top: -100%;
    transform: rotate(-70deg);
  }

  to {
    margin-left: 20%;
    transform: rotate(0deg);
  }
}

.center-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header {
    display: table;
    width: 100%;
    height: 100%;
    background-image: url(../img/no_whale_background.png);
    background-attachment: fixed;
    background-position: 50% 20%;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

ul.social-center {
    background-color: rgba(90, 90, 90, 0.5); //semi-transparent red
}

ul.social-center li{
    display: inline;
}

ul.social-center img{
    max-width: 50px;
}
